{% extends 'base.html.twig' %}

{% block title %}Accord{% endblock %}

{% block body %}
    <h1>Accord</h1>
    <h2>Note : {{ accord.name }}</h2>
    <p>Mode : {{ accord.mode }}</p>
    <p>
    {% for note in accord.notes %}
        {{ note.name ~ " " }}
    {% endfor %}
    </p>
    <a href="{{ path('accord_index') }}">back to list</a>

    <a href="{{ path('accord_edit', {'id': accord.id}) }}">edit</a>

    {{ include('accord/_delete_form.html.twig') }}
{% endblock %}
