<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="{{ path('home') }}">Hello</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a class="navbar-brand" href="{{ path('random') }}">Note aléatoire</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trouver des Accords
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('findChords', {'mode':'majeur'}) }}">Majeur</a>
          <a class="dropdown-item" href="{{ path('findChords', {'mode':'mineur'}) }}">Mineur</a>
          <a class="dropdown-item" href="{{ path('findChords', {'mode':'majeur_renversement'}) }}">Renversement Majeur
          </a>
          <a class="dropdown-item" href="{{ path('findChords', {'mode':'mineur_renversement'}) }}">Renversement Mineur
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gammes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('gamme_mode', {'mode':'majeur'}) }}">Majeur</a>
          <a class="dropdown-item" href="{{ path('gamme_mode', {'mode':'mineur'}) }}">Mineur</a>
        </div>
      </li>
    </ul>
    <a href="{{ path('admin_index') }}">
      <span class="navbar-text white-text">
        Admin
      </span>
    </a>
  </div>
</nav>